/**
 * Configure Tailwind v4 in this file using CSS variables and directives:
 * https://tailwindcss.com/docs/v4-beta#css-first-configuration
 */
@import 'tailwindcss';

@layer base {
  html,
  body {
    font-family: 'Mulish', ui-sans-serif, system-ui, sans-serif !important;
  }
}

@theme {
  --font-family-mulish: 'Mulish', ui-sans-serif, system-ui, sans-serif;
  --color-allium-cream: #fefbef;
  --color-allium-green: #365314;
  --color-allium-light-green: #3f6212;
  --color-allium-dark-green: #1a2e05;
  --color-allium-brown: #48321b;
  --color-allium-light-brown: #543c23;
  --color-allium-dark-brown: #2d1f11;
}
